{
  "auths": {
    "quay.io": {
      "auth": "{{ quay_io_token }}"
    },
    "registry.redhat.io": {
      "auth": "{{ registry_redhat_io_token }}"
    },
    "openshift-platform-docker-snapshot-local.artifactory.example.net": {
      "auth": "{{ artifactory_token }}"
    },
     "artifactory.example.net": {
      "auth": "{{ artifactory_token }}"
     }
  }
}

